:root {
	--background: #2b2a33;
	--card: #1c1b22a0;
	--card-hover: #1c1b22a5;
	--button: #1f1e25;
	--button-hover: #232229;
	--title: #dcdcdc;
	--text: #bababa;
	--text-dim: #a9a9a9;
}

@font-face {
	font-family: "Ubuntu";
	src: url("fonts/Ubuntu-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Ubuntu";
	src: url("fonts/Ubuntu-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Ubuntu Mono";
	src: url("fonts/UbuntuMono-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Ubuntu Mono";
	src: url("fonts/UbuntuMono-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

body {
	font-family: "Ubuntu";
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: var(--background);
	margin: 0;
}

.flex-container {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 2fr 3fr;
	width: 100%;
	height: 100vh;
	padding: 2%;
	row-gap: 2vw;
	column-gap: 2%;
	overflow: scroll;
}

.flex-item {
	min-height: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	background-color: transparent;
	border-radius: 15px;
	overflow: visible;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 20px;
	border-radius: 15px;
	background-color: var(--card);
	transition: all ease 0.2s;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	min-height: 100px;
}

.card:hover {
	background-color: var(--card-hover);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.card.left {
	width: 60%;
}

.card.right {
	width: 40%;
}

#title {
	color: var(--text);
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 20px;
}

#title-button {
	color: var(--text);
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 20px;
	background: none;
	border: none;
	cursor: text;
}

#separator {
	padding: 1vw;
}

.links-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 10px;
	width: 100%;
	height: 100%;
	justify-content: center;
	overflow-y: scroll;
}

.link-button {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 14px;
	color: var(--text);
	background-color: transparent;
	padding: 5px;
	gap: 1vh;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.2s ease;
	min-height: 55px;
	min-width: 85px;
}

.link-button:hover {
	background-color: rgba(0, 0, 0, 0.07);
}

.link-button svg.icon {
	width: 24px;
	height: 24px;
}

.button-text {
	overflow: visible;
}

.button-edit-input {
	font-size: 14px;
	padding: 5px;
	width: 100%;
	height: 50%;
	border: none;
	border-radius: 10px;
	background-color: transparent;
	color: var(--text);
	outline: none;
}

.link-edit-container {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.07);
}

#todolist-container {
	display: flex;
	align-items: start;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.checklist {
	font-family: "Ubuntu Mono";
	width: 100%;
	min-width: 230px;
	height: 100%;
	max-height: 24dvh;
	color: var(--text);
	list-style-type: none;
	overflow-y: scroll;
}

.checklist-item {
	display: flex;
	width: 100%;
	height: 40px;
	align-items: center;
	justify-content: center;
}

.checklist span {
	display: flex;
	align-items: center;
	justify-content: left;
	width: 100%;
	max-width: 30vw;
	min-width: 200px;
	overflow-x: scroll;
	min-height: 40px;
	white-space: nowrap;
}

.checklist-item input[type="checkbox"] {
	appearance: none;
	width: 17px;
	min-width: 17px;
	height: 17px;
	min-height: 17px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.3);
	position: relative;
	top: 1px;
	transition:
		background-color 0.3s ease,
		box-shadow 0.3s ease;
}

.checklist-item input[type="checkbox"]:hover {
	background-color: rgba(255, 255, 255, 0.05);
}

.checklist-item input[type="checkbox"]:checked {
	background-color: rgba(0, 0, 0, 0.5);
}

.checklist-item span {
	margin-left: 10px;
}

.checklist-item.completed input[type="checkbox"]:checked {
	background-color: rgba(255, 255, 255, 0.3);
}

.checklist-item.completed input[type="checkbox"]:checked:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.checklist-item.completed span {
	text-decoration: line-through;
}

button img {
	opacity: 0.8;
	transition: opacity 0.2s ease;
}

button img:hover {
	opacity: 1;
}

#notepad {
	width: 90%;
	height: 100%;
	min-width: 230px;
	line-height: 1.5;
}

textarea {
	font-family: "Ubuntu Mono";
	color: var(--text);
	background-color: transparent;
	font-size: 16px;
	width: 100%;
	height: 100%;
	min-height: 0;
	overflow-y: scroll;
	resize: none;
	border: none;
	outline: none;
}

#new-todo {
	font-family: "Ubuntu Mono";
	background-color: rgba(0, 0, 0, 0.07);
	color: var(--text);
	border: none;
	padding: 6px;
	padding-left: 11px;
	padding-right: 11px;
	width: 90%;
	height: 40px;
	outline: none;
	border-radius: 8px;
}

#clear-completed {
	display: flex;
	text-align: center;
	justify-content: center;
	position: absolute;
	fill: var(--text);
	color: var(--text);
	top: 20px;
	right: 20px;
	background-color: transparent;
	width: 24px;
	height: 24px;
	border: none;
	cursor: pointer;
}

#calendar-container {
	display: flex;
	justify-content: start;
	width: 100%;
	height: 100%;
	min-width: 500px;
}

.calendar-left {
	width: 40%;
	font-size: 16px;
	color: var(--text);
	text-align: left;
	display: flex;
	flex-direction: column;
}

#current-date {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 10px;
	min-width: 100%;
}

#current-time {
	font-size: 32px;
	margin-top: auto;
}

.calendar-right {
	display: flex;
	justify-content: right;
	align-items: start;
	width: 60%;
	height: 100%;
	overflow-y: scroll;
}

#calendar-centered {
    margin: auto;
    max-height: 100%;
    margin-right: 0;
    overflow-y: auto;
}

.calendar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	width: 25vw;
	height: 270px;
	border-radius: 10px;
	min-width: 270px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: 97%;
	height: 30px;
	min-height: 30px;
	margin-bottom: 3px;
}

header .calendar-navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
}

header .calendar-navigation span {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	cursor: pointer;
	text-align: center;
	line-height: 38px;
	border-radius: 50%;
	user-select: none;
	color: var(--text);
	font-size: 1rem;
	font-weight: bold;
}

header .calendar-navigation span:hover {
	background: rgba(0, 0, 0, 0.1);
}

header .calendar-current-date {
	color: var(--text-dim);
	opacity: 0.8;
	margin-left: 6px;
}

.calendar-body {
	height: 100%;
	width: 100%;
}

.calendar-body ul {
	list-style: none;
	flex-wrap: wrap;
	display: flex;
	text-align: center;
}

.calendar-body li {
	width: calc(100% / 7);
	font-size: 0.9rem;
	color: var(--text-dim);
}

.calendar-body .calendar-weekdays li {
	cursor: default;
	font-weight: bold;
}

.calendar-body .calendar-dates li {
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-top: 0.5vh; */
	position: relative;
	z-index: 1;
	cursor: default;
	height: 3.7vh;
	min-height: 30px;
}

.calendar-dates li.inactive {
	color: rgba(255, 255, 255, 0.2);
}

.calendar-dates li.active {
	color: var(--text);
}

.calendar-dates li::before {
	position: absolute;
	content: "";
	z-index: -1;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 30px;
	border-radius: 10px;
	transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
	background: rgba(0, 0, 0, 0.2);
}

.calendar-dates li:not(.active):hover::before {
	background: rgba(0, 0, 0, 0.1);
}

#clipboard-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 3%;
	overflow-y: scroll;
}

#clipboard-container div {
	width: 100%;
	height: 100%;
	min-height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Ubuntu Mono";
	color: var(--text);
	transition: background-color 0.3s ease;
	border-radius: 10px;
}

#clipboard-container div:hover {
	background: rgba(0, 0, 0, 0.07);
}

#clipboard-container div textarea {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
	overflow-y: scroll;
	word-break: break-all;
	padding: 10px;
	border-radius: 10px;

}
