:root {
	--background: #2b2a33;
	--card: #1c1b22aa;
	--button: #1f1e25;
	--button-hover: #232229;
	--title: #dcdcdc;
	--text: #bababa;
}

@font-face {
	font-family: "Ubuntu Mono";
	src: url("../assets/fonts/UbuntuMono-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Ubuntu Mono";
	src: url("../assets/fonts/UbuntuMono-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

body {
	font-family: "Ubuntu Mono";
	font-weight: bold;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
	background-color: var(--background);
	margin: 0;
	color: var(--text);
	padding: 10px;
	overflow: hidden;
	transition: background-color 0.3s ease;
	width: 200px;
	height: 50px;
}

#dynamicBackgroundCheckbox {
	margin-top: 4px !important;
	appearance: none;
	background-color: #dfe1e4;
	border-radius: 72px;
	border-style: none;
	flex-shrink: 0;
	height: 20px;
	margin: 0;
	position: relative;
	width: 30px;
}

#dynamicBackgroundCheckbox::before {
	bottom: -6px;
	content: "";
	left: -6px;
	position: absolute;
	right: -6px;
	top: -6px;
}

#dynamicBackgroundCheckbox,
#dynamicBackgroundCheckbox::after {
	transition: all 100ms ease-out;
}

#dynamicBackgroundCheckbox::after {
	background-color: #fff;
	border-radius: 50%;
	content: "";
	height: 14px;
	left: 3px;
	position: absolute;
	top: 3px;
	width: 14px;
}

#dynamicBackgroundCheckbox:hover {
	background-color: #c9cbcd;
	transition-duration: 0s;
}

#dynamicBackgroundCheckbox:checked {
	background-color: #7790e1;
}

#dynamicBackgroundCheckbox:checked:hover {
	background-color: #5a78db;
}

#dynamicBackgroundCheckbox:checked::after {
	background-color: #fff;
	left: 13px;
}
